PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/bibhav_portfolio
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
GITHUB_TOKEN=
GITHUB_USERNAME=bob2056
CLIENT_URL=http://localhost:3000
NODE_ENV=development
MONGODB_DNS_SERVER=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=
CONTACT_EMAIL=bibhav.bale@gmail.com
